<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFRiCFTFuoUczkEJQVSFsvroPlYejHzbw</string>
	<key>GCM_SENDER_ID</key>
	<string>717492644043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eatMore</string>
	<key>PROJECT_ID</key>
	<string>eat-more-app-9d245</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-more-app-9d245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717492644043:ios:a2555d729a0fc78618534e</string>
</dict>
</plist>